
.main-menu {

  height     : 56px;
  background : $color-primary;
  overflow   : hidden;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);

  .container {
    padding : 0 15px;
  }

  @include font-color-elements($font-light);
  a{
    @include font-color($font-light);
    &:hover, &:focus{
      text-decoration: none;
    }
  }

  .left-side {
    &, & * {
      display : inline-block;
      float   : left;
    }

    .icon-menu {
      font-size    : 28px;
      margin-right : 6px;
      cursor       : pointer;
      padding      : 14px;
      margin-left  : -14px;
    }

    .brand {
      padding : 8px 0;
    }
  }

  .right-side {
    display : block;
    float   : right;

    li {
      display : inline-block;
      a {
        display : inline-block;
        padding : 17px 12px 20px 12px;

        &, &.selected {
          @include darken-color($color-primary);
        }
      }
    }
  }

}